{% extends "officer_ci/cons_temp.html" %}
{% block body %}

<body><form action="/ofr_cmt_add_pst" method="POST">
    <table class="table table-bordered" border="1">
<tr>
    <td>Subject</td>
    <td>
      <input type="text" name="sub" id="sub"class="form-control" required></td>
  </tr>

  <tr>
    <td>Complaint</td>
    <td>
      <textarea name="textarea" id="textarea" cols="45" rows="5" class="form-control" required></textarea></td>
  </tr>
  <tr>
    <td height="23" colspan="2">
        <input type="submit" name="add" id="add" value="Add"></td>
  </tr>
</table>

</form>
</body>


{% endblock %}