{% extends "officer_ci/cons_temp.html" %}
{% block body %}
<body><form action="/crm_scene_add" method="POST" enctype="multipart/form-data">
<table class="table table-bordered" border="1">
  <tr>
    <td>Crime</td>
    <td><label for="crime"></label>
      <select name="crime" id="crime">
          {% for ii in data %}
          <option value="{{ ii['cid'] }}">{{ ii['name'] }}</option>
          {% endfor %}
      </select></td>
  </tr>
  <tr>
       <td>Date</td>
    <td><label for="dates"></label>
      <input type="text" name="dates" id="dates" /></td>
  </tr>

  </tr>
  <tr>
    <td>Path</td>
    <td><label for="image"></label>
      <input type="file" name="image" id="image" /></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input type="submit" name="Add" id="Add" value="Add" /></td>
  </tr>
</table>
</form>
</body>

{% endblock %}