{% extends "officer_ci/cons_temp.html" %}
{% block body %}
<body><form action="file:///E:/ci_crm_vw" method="get">
   
  <table class="table table-bordered" border="1">
  <tr>
    <td width="41">sl.no</td>
    <td width="37">Name</td>
    <td width="36">Type</td>
    <td width="78">Date</td>
     <td width="52">Place</td>
    <td width="67">&nbsp;</td>
    <td width="67">&nbsp;</td>
  </tr>
  
  {% for i in data %}
  
  <tr>
    <td>{{ i["cid"] }}</td>
    <td>{{ i["name"] }}</td>
    <td>{{ i["type"] }}</td>
    <td>{{ i["date"] }}</td>
    <td>{{ i["place"] }}</td>
    <td>
    <a href="/ci_crm_edit/{{ i["cid"] }}">More</a>
    </td>
    <td>
    <a href="/ci_crm_edit/{{ i["cid"] }}">Delete</a>
    </td>
    </tr>
    {% endfor %}
</table>
</form>
</body>

{% endblock %}