{% extends "officer_ci/cons_temp.html" %}
{% block body %}

<body><form action="" method="get">
    <table class="table table-bordered" border="1">
  <tr>
    <th>Sl.No</th>
    <th>Date</th>
    <th>Crime</th>
    <th>Image</th>
    <td>&nbsp;</td>
  </tr>
    {% for i in data11 %}
  <tr><td>{{ i["crid"] }}</td>
    <td>&nbsp;{{ i["date"] }}</td>

    <td>&nbsp;{{ i["crime"] }}</td>
      <td><img src ="{{ i["path"]}}"height="100px" width="100px"/></td>

    <td><a href="/ci_crm_scene_edit/{{ i["crid"] }}">View</a></td>
  </tr>
    {% endfor %}
</table>
</form>
</body>

{% endblock %}