{% extends "officer_ci/cons_temp.html" %}
{% block body %}
<body><form action="" method="get">
    <table class="table table-bordered" border="1">
  <tr>
    <td>Officer</td>
    <td><label for="officer"></label>
      <select name="officer" id="officer">
          {% for i in data%}
          <option value="{{ i['of_alloc_id'] }}>{{ i['oid'] }}"></option>
          {% endfor %}
      </select></td>
  </tr>
  <tr>
    <td>Name</td>
    <td><label for="name"></label>
      <input type="text" name="name" id="name" value="{{ data["name"] }}" /></td>
  </tr>
  <tr>
    <td>Date</td>
      <td><label for="date"></label>
      <input type="text" name="date" id="date" value="{{ data["date"] }}" /></td>

  </tr>
  <tr>
    <td>Place</td>
    <td><label for="place"></label>
      <input type="text" name="place" id="place" value="{{ data["place"] }}" /></td>
  </tr>
  <tr>
    <td>Time</td>
    <td><label for="time"></label>
      <input type="text" name="time" id="time" value="{{ data["time"] }}" /></td>
  </tr>
  <tr>
    <td>Type</td>
    <td><label for="type"></label>
      <input type="text" name="type" id="type" value="{{ data["type"] }}"/></td>
  </tr>
  <tr>
    <td height="23"><input type="submit" name="update" id="update" value="Update" /></td>
    <td><input type="submit" name="delete" id="delete" value="Delete" /></td>
  </tr>
</table>
</form>
</body>

{% endblock %}