
{% extends "officer_ci/cons_temp.html" %}
{% block body %}
<body><form action="" method="get" enctype="multipart/form-data">
    <table class="table table-bordered" border="1">
  <tr>
    <td>Crime</td>
    <td><label for="crime"></label>
      <select name="crime" id="crime">
          {% for ii in data %}
          <option value="{{ ii['cid'] }}">{{ ii['name'] }}</option>
          {% endfor %}

      </select></td>
  </tr>
  <tr>
   <td>Date</td>
    <td><label for="dates"></label>
       <input type="text" name="dates" id="dates" value="{{ data["date"] }}" /></td>
  </tr>
  <tr>
    <td>Image</td>
    <td><label for="image"></label>
      <input type="file" name="image" id="image" /></td>
  </tr>
  <tr>
    <td><input type="submit" name="update" id="update" value="Update" /></td>
    <td><input type="submit" name="delete" id="delete" value="Delete" /></td>
  </tr>
</table>
</form>
</body>


{% endblock %}