{% extends "officer_ci/cons_temp.html" %}
{% block body %}

<body><form action="/crm_add" method="POST">
    <table class="table table-bordered" border="1">
  <tr>
    <td>officer</td>
    <td><label for="officer"></label>
      <select name="officer" id="officer">
          {% for i in data44 %}
          <option value="{{ i['of_alloc_id'] }}>{{ i['oid'] }}"></option>
          {% endfor %}
      </select></td>

  </tr>
  <tr>
    <td>Name</td>
    <td><label for="name"></label>
      <input type="text" name="name" id="name"></td>
  </tr>
  <tr>
    <td>Date</td>
    <td><label for="date"></label>
      <input type="text" name="date" id="date"></td>
  </tr>
  <tr>
    <td>Place</td>
    <td><label for="place"></label>
      <input type="text" name="place" id="place"></td>
  </tr>
  <tr>
    <td>Time</td>
    <td><label for="time"></label>
      <input type="text" name="time" id="time"></td>
  </tr>
  <tr>
    <td>Type</td>
    <td><label for="type"></label>
      <input type="text" name="type" id="type"></td>
  </tr>
  <tr>
    <td height="23" colspan="2">
        <input type="submit" name="add" id="add" value="Add"></td>
  </tr>
</table>

</form>
</body>


{% endblock %}