{% extends "officer_ci/cons_temp.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
{#  <table width="200" border="1">#}
{#    <tr>#}
{#      <td><a href="/ci_crm_add">Crime Add</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="/ci_crm_scene_add">Crime Scene Add</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="/ci_crm_scene_vw">Crime Scene View</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="/ci_crm_vw">Crime View</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="/ci_vict_add">Victim Add</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="/ci_vict_vw">Victim View</a></td>#}
{#    </tr>#}
{#  </table>#}
</form>
{% endblock %}