{% extends "officer_ci/cons_temp.html" %}
{% block body %}
<body><form action="/ofr_algo_post" method="POST" enctype="multipart/form-data">
<table class="table table-bordered" border="1">



  <tr>
    <td>Path</td>
    <td>
      <input type="file" name="image" id="image" /></td>
  </tr>
    <tr>
        <td>Final Result:</td>
        <td>{{ aa }}</td>
    </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input type="submit" name="Add" id="Add" value="Check" /></td>
  </tr>
</table>
</form>
</body>

{% endblock %}