
{% extends "officer_ci/cons_temp.html" %}
{% block body %}
<body>
<form action="/ci_updt_vict" method="post" enctype="multipart/form-data" name="form1" id="form1">
 <table class="table table-bordered" border="1">
  <tr>
    <td>Crime<input type="hidden" name="vid" value="{{ data[0] }}"></td>
    <td>
      <select name="crime" id="crime">
      <option value="{{ data[1] }}">{{ data[13] }}</option>
           {% for i in crm %}
        <option value="{{ i[0] }}">{{ i[1] }}</option>
          {% endfor %}
      </select></td>
    </tr>
  <tr>
    <td>Name</td>
    <td>
      <input type="text" name="name" id="name" value="{{ data[2] }}" required/></td>
    </tr>
  <tr>
    <td>Age</td>
    <td>
      <input type="number" name="age" id="age" value="{{ data[3] }}" required/></td>
    </tr>
  <tr>
    <td>Sex</td>
    <td>
        {% if data[4]=='male' %}
        <input type="radio" name="gndr" id="male" value="male" checked/>Male<br>
        <input type="radio" name="gndr" id="female" value="female" />Female
        {% endif %}
    {% if data[4]=='female' %}
        <input type="radio" name="gndr" id="male" value="male" />Male<br>
        <input type="radio" name="gndr" id="female" value="female" checked/>Female
        {% endif %}
    </td>
  </tr>
  <tr>
    <td>House name</td>
    <td>
      <input type="text" name="house_name" id="house_name" value="{{ data[5] }}" required/></td>
    </tr>
  <tr>
    <td>Place</td>
    <td>
      <input type="text" name="place" id="place" value="{{ data[6] }}" required/></td>
    </tr>
  <tr>
    <td>Pincode</td>
    <td>
      <input type="number" name="pincode" id="pincode" value="{{ data[7] }}" pattern="[0-9]{6}" /></td>
    </tr>
  <tr>
    <td>District</td>
    <td>
      <select name="district" id="district2">
          <option>{{ data[8] }}</option>
       <option>kannur</option>
        <option>kozhikod</option>
      </select></td>
    </tr>
<tr>
    <td>Phone</td>
    <td>
      <input type="number" name="phone" id="phone"  value="{{ data[9] }}" pattern="[0-9]{10}" required/></td>
    </tr>
  <tr>
    <td>Blood group</td>
    <td>
      <select name="blood_group" id="blood_group">
          <option>{{ data[10] }}</option>
       <option>O+ve</option>
        <option>O-ve</option>
         <option>AB+ve</option>
        <option>A-ve</option>
      </select></td>
    </tr>
<tr>
    <td>Id Number</td>
    <td>
      <input type="text" name="id_number" id="id_number" value="{{ data[11] }}" required/></td>
    </tr>
    <tr>
    <td>Image</td>
    <td>
      <input type="file" name="image" id="image" /></td>
    </tr>
   <tr>
    <td colspan="2" align="center"><input type="submit" name="add" id="add" value="Update"/></td>
  </tr>
</table>
</form>
</body>


{% endblock %}