{% extends "officer_ci/cons_temp.html" %}
{% block body %}

<body><form action="/vict_add" method="POST" enctype="multipart/form-data">
    <table class="table table-bordered" border="1">
  <tr>
    <td>Crime</td>
    <td>
      <select name="crime" id="crime">
           {% for i in data %}
        <option value="{{ i[0] }}">{{ i[1] }}</option>
          {% endfor %}
      </select></td>
    </tr>
  <tr>
    <td>Name</td>
    <td>
      <input type="text" name="name" id="name" required/></td>
    </tr>
  <tr>
    <td>Age</td>
    <td>
      <input type="number" name="age" id="age" required/></td>
    </tr>
  <tr>
    <td>Sex</td>
    <td><input type="radio" name="gndr" id="male" value="male" checked/>Male<br>
        <input type="radio" name="gndr" id="female" value="female" />Female</td>
  </tr>
  <tr>
    <td>House name</td>
    <td>
      <input type="text" name="house_name" id="house_name" required/></td>
    </tr>
  <tr>
    <td>Place</td>
    <td>
      <input type="text" name="place" id="place" required/></td>
    </tr>
  <tr>
    <td>Pincode</td>
    <td>
      <input type="number" name="pincode" id="pincode" pattern="[0-9]{6}" /></td>
    </tr>
  <tr>
    <td>District</td>
    <td>
      <select name="district" id="district2">
       <option>kannur</option>
        <option>kozhikod</option>
      </select></td>
    </tr>
<tr>
    <td>Phone</td>
    <td>
      <input type="number" name="phone" id="phone" pattern="[0-9]{10}" /></td>
    </tr>
  <tr>
    <td>Blood group</td>
    <td>
      <select name="blood_group" id="blood_group">
       <option>O+ve</option>
        <option>O-ve</option>
         <option>AB+ve</option>
        <option>A-ve</option>
      </select></td>
    </tr>
<tr>
    <td>Id Number</td>
    <td>
      <input type="text" name="id_number" id="id_number" required/></td>
    </tr>
    <tr>
    <td>Image</td>
    <td>
      <input type="file" name="image" id="image" required/></td>
    </tr>
   <tr>
    <td colspan="2" align="center"><input type="submit" name="add" id="add" value="Add"/></td>
  </tr>
</table>
</form>
</body>

{% endblock %}