{% extends "officer_ci/cons_temp.html" %}
{% block body %}
<body><form action="#" method="post">
    <table class="table table-bordered" border="1">
  <tr>
    <th>Sl.No</th>
    <th>Name</th>
      <th>Image</th>
      <th>Age</th>
      <th>Gender</th>
    <th>Crime</th>
    <th colspan="2">&nbsp;</th>
  </tr>
    {% for i in data %}
    <tr>
        <td>{{ loop.index  }}</td>
        <td>{{ i[1] }}</td>
        <td><img src="{{ i[2] }}" height="100" width="100" /></td>
        <td>{{ i[3]  }}</td>
        <td>{{ i[4] }}</td>
        <td>{{ i[5] }}</td>
        <td><a href="/ci_vict_edit/{{ i[0] }}"><input type="button" value="Edit" class="btn-info"></a></td>
        <td><a href="/ci_vict_dlt/{{ i[0] }}"><input type="button" value="Delete" class="btn-danger"></a></td>
    </tr>
    {% endfor %}
    
</table></form>
</body>

{% endblock %}