{% extends "officer_ci/cons_temp.html" %}
{% block body %}
<body>
<form action="" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table class="table table-bordered" border="1">
    <tr>
      <td colspan="2"><img src="{{ data[12] }}" height="100" width="100" />
      </td>
    </tr>
    <tr>
      <td>Name</td>
      <td>{{ data[2] }}</td>
    </tr>
    <tr>
      <td>Station Name</td>
      <td>{{ data[13] }}</td>
    </tr>
    <tr>
      <td>Age</td>
      <td>{{ data[4] }}</td>
    </tr>
    <tr>
      <td>Position</td>
      <td>{{ data[3] }}</td>
    </tr>
    <tr>
      <td>Qualification</td>
      <td>{{ data[5] }}</td>
    </tr>
    <tr>
      <td>Experience</td>
      <td>{{ data[6] }}</td>
    </tr>
    <tr>
      <td>House Name</td>
      <td>{{ data[7] }}</td>
    </tr>
    <tr>
      <td>Place</td>
      <td>{{ data[8] }}</td>
    </tr>
    <tr>
      <td>Pincode</td>
      <td>{{ data[9] }}</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>{{ data[10] }}</td>
    </tr>
      <tr>
      <td>Phone</td>
      <td>{{ data[11] }}</td>
    </tr>
  </table>
</form>
</body>
{% endblock %}