{% extends "officer_ci/cons_temp.html" %}
{% block body %}
<body><form action="#" method="post">
    <table class="table table-bordered" border="1">
  <tr>
    <th>Sl.No</th>
    <th>Complaint</th>
      <th>Date</th>
      <th>Reply</th>

  </tr>
    {% for i in data %}
    <tr>
        <td>{{ loop.index  }}</td>
        <td>{{ i[0] }}</td>
        <td>{{ i[2]  }}</td>
        <td>{{ i[1] }}</td>

    </tr>
    {% endfor %}
    
</table></form>
</body>

{% endblock %}