{% extends "Admin/adm_temp.html"%}
{% block body %}
<form action="/add_notification" method="post">
<table class="table table-bordered">
  <tr>
    <td>subject</td>
    <td>
      <label for="textarea"></label>
      <textarea name="textarea" id="textarea" cols="45" rows="5" class="form-control" required></textarea>
    </td>
  </tr>
  <tr>
    <td>notification</td>
    <td>
      <label for="textarea2"></label>
      <textarea name="textarea2" id="textarea2" cols="45" rows="5"  class="form-control" required></textarea>
    </td>
  </tr>
  <tr>
    <td colspan="2">
        <div align="center">
          <input type="submit" name="button" id="button" value="Submit" class="btn btn-success"/>
        </div>
    </td>
  </tr>
</table>
</form>
{% endblock %}