{% extends "Admin/adm_temp.html"%}
{% block body %}


<body><form action="" method="get">
  <table class="table table-bordered" border="1">
    <tr>
        <th>Slno</th>
        <th>Name</th>
      <th>Image</th>
        <th>Details</th>
    </tr>
      {% for i in data %}
    <tr>
     <td>{{ loop.index }}</td>
        <td>{{ i[0] }}</td>
      <td><img src ="/static/crime_sen_obj/{{ i[2]}}" height="100" width="100" /></td>
        <td>{{ i[1] }}</td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}