{% extends "Admin/adm_temp.html"%}
{% block body %}
<form id="form1" name="form1" method="post" action="/admin_complaint_reply_post">
<input type="hidden" name="nn" value="{{id22}}" id="nn">
<table class="table table-bordered">
  <tr>
    <td>complaint</td>
    <td>{{ data[2] }}</td>
  </tr>
  <tr>
    <td>reply</td>
    <td><label for="textarea"></label>
      <textarea name="textarea" id="textarea" cols="45" rows="5" class="form-control" required></textarea></td>
  </tr>
  <tr>
    <td colspan="2"><div align="center">
      <input type="submit" name="button" id="button" value="Submit" class="btn btn-success"/>
    </div></td>
    </tr>
</table>
    {% endblock %}
