{% extends "Admin/adm_temp.html"%}
{% block body %}
<form id="form1" name="form1" method="post" action="">

<table class="table table-bordered">
  <tr>
    <th>sl no</th>
    <th>Date</th>
    <th>User info</th>
    <th>Complaint</th>
    <th>Reply</th>
  </tr>
    {% for i in data %}
  <tr>
    <td>{{ loop.index }}</td>
    <td>{{ i[3] }}</td>
    <td>{{ i[6] }}<br>{{ i[7] }}</td>
    <td>{{ i[2] }}</td>
    <td><a href="/reply/{{ i[0] }}"class="btn btn-success">Reply</a></td>
  </tr>
    {% endfor %}
</table>
</form>
{% endblock %}
