{% extends "Admin/adm_temp.html"%}
{% block body %}


<body>
<form id="form1" name="form1"  action="/adm_crm_vw" method="get">
 <table class="table table-bordered" border="1">
  <tr>
    <th>Sl.No</th>
    <th>Crime Name</th>
    <th>Details</th>
    <th>&nbsp;</th>
  </tr>
        {%  for i in data %}
  <tr>
    <td>{{ loop.index }}</td>
    <td>{{ i[1] }}</td>
    <td>{{ i[2] }}</td>
    <td><a href="/adm_viw_crime_sen/{{ i[0] }}">View</a></td>
  </tr>
        {% endfor %}
</table>
</form>
</body>
{% endblock %}