{% extends "Admin/adm_temp.html"%}
{% block body %}


<body><form action="" method="get">
  <table class="table table-bordered" border="1">
    <tr>
        <th>Slno</th>
      <th width="58">Image</th>
{#        <th>&nbsp;</th>#}
    </tr>
      {% for i in data %}
    <tr>
     <td>{{ loop.index }}</td>
      <td><img src ="/static/crime_scene/{{ i[0] }}" height="100px" width="100px" /></td>
{#    <td><a href="/adm_view_scen_objs/{{ i[1] }}">View Scene Objects</a> </td>#}
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}