{% extends "Admin/adm_temp.html"%}
{% block body %}


<body><form action="/adm_crm_scn" method="get" enctype="multipart/form-data">
    <table class="table table-bordered" border="1">
  <tr>
    <td width="76">Crime</td>
    <td width="108"><label for="crime"></label>
      <input type="text" name="crime" id="crime" required/></td>
  </tr>
  <tr>
    <td>Image</td>
    <td><label for="image"></label>
      <input type="file" name="image" id="image" required/></td>
  </tr>
</table>
</form>
</body>

{% endblock %}