{% extends "Admin/adm_temp.html"%}
{% block body %}

<body><form action="/adm_crm_desc" method="get">
    <table class="table table-bordered" border="1">
  <tr>
    <td width="92">Crime name</td>
    <td width="175"><label for="crime name"></label>
      <input type="text" name="crime name" id="crime name" required/></td>
  </tr>
  <tr>
    <td height="85">Description</td>
    <td><label for="description"></label>
      <textarea name="description" id="description" cols="45" rows="5" required></textarea></td>
  </tr>
</table>
</form>
</body>

{% endblock %}