{% extends "Admin/adm_temp.html"%}
{% block body %}

<body>
<form action="/adm_hm" method="POST">
{#    <table width="200" border="1">#}
{#  <tr>#}
{#    <td>ADMIN HOME</td>#}
{#  </tr>#}
{#  <tr>#}
{#    <td><a href="/adm_crm_vw">Crime View</a></td>#}
{#  </tr>#}
{##}
{#  <tr>#}
{#    <td><a href="/adm_ofcr_add">Officer Add</a></td>#}
{#  </tr>#}
{#  <tr>#}
{#    <td><a href="/adm_ofcr_vw">Officer View</a></td>#}
{#  </tr>#}
{#  <tr>#}
{#    <td><a href="/adm_police_stn_regi">Police Station Register</a></td>#}
{#  </tr>#}
{#  <tr>#}
{#    <td><a href="/adm_police_stn_vw">Police Station View</a></td>#}
{#  </tr>#}
{#  <tr>#}
{#    <td><a href="/adm_tng_st_add">Training Set Add</a></td>#}
{#  </tr>#}
{#   <tr>#}
{#    <td><a href="/adm_tng_st_vw">Training Set View</a></td>#}
{#  </tr>#}
{#     <tr>#}
{#    <td><a href="/adm_ofcr_allo_alloct">Officer Allocation</a></td>#}
{#  </tr>#}
{#     <tr>#}
{#    <td><a href="/adm_ofcr_allo_vw">Officer Allocation View</a></td>#}
{#  </tr>#}
{#</table>#}

</form>
</body>

{% endblock %}