{% extends "Admin/adm_temp.html"%}
{% block body %}


<body><form>
    <table class="table table-bordered" border="1">
  <tr>
    <th>Sl. No</th>
       <th>Image</th>
      <th>Name</th>
    <th>Police station</th>
    <th>Position</th>
    <th>Age</th>
         <th>Qualification</th>
         <th>Experience</th>
         <th>House name</th>
         <th>Place</th>
         <th>Pincode</th>
{#          <th>E-mail</td>#}
    <th>Phone</td>
    <td colspan="2">&nbsp;</td>
  </tr>
    {% for i in data %}
  <tr>
    <td>{{ loop.index }}</td>
      <td><img src ="{{ i[12]}}" height="100px" width="100px" ></td>
    <td>{{ i[2] }}</td>
    <td>{{ i[13] }}</td>
    <td>{{ i[3] }}</td>
    <td>{{ i[4] }}</td>
    <td>{{ i[5] }}</td>
      <td>{{ i[6] }}</td>
      <td>{{ i[7] }}</td>
      <td>{{ i[8] }}</td>
      <td>{{ i[9] }}</td>
{#      <td>{{ i[10] }}</td>#}
      <td>{{ i[11] }}</td>
    <td><a href="/adm_ofcr_edit/{{i[0]}}"><input type="button" value="Edit" class="btn-info"></a></td>
     <td><a href="/adm_ofcr_dlt/{{ i[0] }}"  onclick="return confirm('Do you want to delete?')"><input type="button" value="Delete" class="btn-danger"></a></td>

  </tr>
   {% endfor %}
</table>
</form>
</body>

{% endblock %}