
{% extends "Admin/adm_temp.html"%}
{% block body %}

<body><form action="/adm_ofcr_alloc_btn" method="POST">
<table class="table table-bordered" border="1">
  <tr>
    <td>Station</td>
    <td><label for="station"></label>
      <select name="station" id="station">
           {% for i in data %}
          <option value="{{ i[0] }}">{{ i[1] }}</option>
          {% endfor %}
      </select></td>
  </tr>
  <tr>
    <td>Officer</td>
    <td><label for="officer"></label>
      <select name="officer" id="officer">
           {% for i in data33 %}
          <option value="{{ i[0] }}">{{ i[1] }}</option>
          {% endfor %}
      </select></td>
  </tr>
  <tr>
    <td><input type="hidden" name="hh" id="hh" value="{{id55}}"></td>
    <td><input type="submit" name="allocate" id="allocate" value="Allocate" /></td>
  </tr>
</table>
</form>
</body>
</html>
{% endblock %}