{% extends "Admin/adm_temp.html"%}
{% block body %}

<body>
<form action="/ofcr_allo_vw" method="get">
<table class="table table-bordered" border="1">
  <tbody><tr>
    <td width="59">Id</td>

    <td width="112">Police station</td>
      <td width="59">Officer</td>
      <td></td>
    <td width="59">&nbsp;</td>
    <td width="59">&nbsp;</td>
  </tr>
  {% for i in data %}
<tr>
    <td>{{ i[0] }}</td>
    <td>{{ i[1] }}</td>
    <td>{{ i[2] }}</td>
    <td><img src="{{i[3]}}" width="50" height="50"></td>
<td><a href="/adm_ofcr_allo_edit/{{ i[0] }}">edit</a></td>
<td><a href="/adm_ofcr_allo_dlt/{{ i[0] }}"  onclick="return confirm('Do you want to delete?')">Delete</a></td>
</tr>
  {% endfor %}
    
</tbody></table>
</form>

</body>
{% endblock %}