{% extends "Admin/adm_temp.html"%}
{% block body %}


<body>
<form action="/adm_ofcr_btn" method="POST" enctype="multipart/form-data">
    <table class="table table-bordered" border="1">
  <tr>
    <td>Name<input name="mm" type="hidden" value="{{data[0]}}"></td>
    <td><label for="name"></label>
      <input type="text" name="name" id="name" value="{{data[2]}}" required/></td>
  </tr>
  <tr>
    <td>Police station</td>
    <td>
      <select name="ps" id="ps">
      <option value="{{ data[1] }}">{{ data[13] }}</option>
          {% for i in data1 %}
          <option value="{{ i[0] }}">{{ i[1] }}</option>
          {% endfor %}
      </select></td>
  </tr>
  <tr>
    <td>Age</td>
    <td>
      <input type="number" name="age" id="age" value="{{data[4]}}" required/></td>
  </tr>
  <tr>
    <td>Qualification</td>
    <td>
      <input type="text" name="ql" id="ql" value="{{data[5]}}" required/></td>
  </tr>
  <tr>
    <td>Experience</td>
    <td>
      <input type="text" name="exp" id="exp" value="{{data[6]}}"required/></td>
  </tr>
  <tr>
    <td>House name</td>
    <td>
      <input type="text" name="hn" id="hn" value="{{data[7]}}" required/></td>
  </tr>
  
  <tr>
    <td>Place</td>
    <td>
      <input type="text" name="place" id="place" value="{{data[8]}}" required/></td>
  </tr>
  <tr>
    <td>Pincode</td>
    <td>
      <input type="number" name="pin" id="pin" value="{{data[9]}}" pattern="[0-9]{6}" required/></td>
  </tr>
  <tr>
    <td>Phone</td>
    <td><label for="phone"></label>
      <input type="number" pattern="[0-9]{10}" name="phone" id="phone" value="{{data[11]}}" required/></td>
  </tr>
    <tr>
    <td>Position</td>
    <td>
      <input type="text"  name="pos" id="pos" value="{{data[3]}}" required/></td>
  </tr>


    <tr>

  <td>Image</td>
  <td>
    <input type="file" name="im" id="im" /></td>
</tr>
  <tr>
    <td colspan="2" align="center"><input type="submit" name="add" id="Update" value="Update" /></td>
  </tr>
</table>
</form>
</body>

{% endblock %}