{% extends "Admin/adm_temp.html"%}
{% block body %}


<body><form action="/ofcr_add" method="POST" enctype="multipart/form-data">
    <table class="table table-bordered" border="1">
<tr>
  <td>Image</td>
  <td><label for="image"></label>
    <input type="file" name="im" id="im" required/></td>
</tr>
  <tr>
    <td>Name</td>
    <td><label for="name"></label>
      <input type="text" name="name" id="name" required/></td>
  </tr>
  <tr>
    <td>Police station</td>
    <td><label for="police station"></label>
      <label for="police station"></label>
      <select name="police station" id="police station">
          {% for ii in data22 %}
          <option value="{{ ii[0] }}">{{ ii[1] }}</option>
          {% endfor %}
      </select></td>
  </tr>

  <tr>
    <td>Age</td>
    <td><label for="age"></label>
      <input type="number" name="age" id="age" required/></td>
  </tr>
  <tr>
    <td>Qualification</td>
    <td><label for="qualification"></label>
      <input type="text" name="qualification" id="qualification" required/></td>
  </tr>
  <tr>
    <td>Experience</td>
    <td><label for="experience"></label>
      <input type="text" name="experience" id="experience" required/></td>
  </tr>
  <tr>
    <td>House name</td>
    <td><label for="house name"></label>
      <input type="text" name="house name" id="house name" required/></td>
  </tr>
  
  <tr>
    <td>Place</td>
    <td><label for="place"></label>
      <input type="text" name="place" id="place" required/></td>
  </tr>
  <tr>
    <td>Pincode</td>
    <td><label for="pincode"></label>
      <input type="number" name="pincode" pattern="[0-9]{6}" id="pincode" required/></td>
  </tr>
  <tr>
    <td>E-mail</td>
    <td><label for="email"></label>
      <label for="email"></label>
      <input type="email" name="email" id="email" required/></td>
  </tr>

    <tr>
    <td>Position</td>
    <td>
      <input type="text" name="pos" id="pos" required/></td>
  </tr>

  <tr>
    <td>Phone</td>
    <td><label for="phone"></label>
      <input type="number" name="phone" pattern="[0-9]{10}" id="phone" required/></td>
  </tr>
  <tr>
    <td colspan="2" align="center"><input type="submit" name="add" id="add" value="Add" /></td>
 

  </tr>
</table>
</form>
</body>

{% endblock %}