{% extends "Admin/adm_temp.html"%}
{% block body %}


<body>
<form action="/police_stn_regi" method="POST" enctype="multipart/form-data">
    <table class="table table-bordered" border="1">
  <tr>
    <td >Name</td>
    <td>
      <input type="text" name="name" id="name" required/></td>
  </tr>
  <tr>
    <td>Place</td>
    <td><label for="place"></label>
      <input type="text" name="place" id="place" required/></td>
  </tr>
  <tr>
    <td>Post</td>
    <td><label for="post"></label>
      <input type="text" name="post" id="post" required/></td>
  </tr>
  <tr>
    <td>Pincode</td>
    <td><label for="pincode"></label>
      <input type="number" name="pincode" id="pincode" pattern="[0-9]{6}" required/></td>
  </tr>
  <tr>
    <td>District</td>
    <td>
      <select name="district" id="district">
      <option>kannur</option>
      <option>kozhikod</option>
      <option>malappuram</option>
      </select></td>
  </tr>
  <tr>
    <td>E-mail</td>
    <td><label for="email"></label>
      <input type="email" name="email" id="email" required/></td>
  </tr>
  <tr>
    <td>Phone</td>
    <td>
      <input type="number" name="phone" id="phone" pattern="[0-9]{10}" required/></td>
  </tr>
  <tr>
    <td>Photos</td>
    <td><label for="photos"></label>
      <input type="file" name="photos" id="photos" required/></td>
  </tr>
  <tr>
    <td colspan="2" align="center"><input type="submit" class="btn-success" name="save" id="save" value="Save" /></td>
  </tr>
</table>
</form>


{% endblock %}