{% extends "Admin/adm_temp.html"%}
{% block body %}
<form action="/adm_police_stn_btn" method="POST" enctype="multipart/form-data">
    <table class="table table-bordered" border="1">
  <tr>
    <td>Name<input type="hidden" name="pid" value="{{ data[0] }}"/></td>
    <td><label for="name"></label>
      <input type="text" name="name" id="name" value="{{ data[1] }}" required/></td>
  </tr>
  <tr>
    <td>Place</td>
    <td><label for="place"></label>
      <input type="text" name="place" id="place" value="{{ data[2] }}" required/></td>
  </tr>
  <tr>
    <td>Post</td>
    <td><label for="post"></label>
      <input type="text" name="post" value="{{ data[3] }}" id="post" required/></td>
  </tr>
  <tr>
    <td>Pincode</td>
    <td><label for="pincode"></label>
      <input type="number" pattern="[0-9]{6}" name="pincode" id="pincode" value="{{ data[4] }}" required/></td>
  </tr>
  <tr>
    <td>District</td>
    <td>
      <select name="district" id="district">
          <option>{{ data[5] }}</option>
      <option>kannur</option>
      <option>kozhikod</option>
      <option>malappuram</option>
      </select></td>
  </tr>
  <tr>
    <td>Phone</td>
    <td><label for="phone"></label>
      <input type="number" pattern="[0-9]{10}" name="phone" id="phone" value="{{ data[7] }}" required/></td>
  </tr>
  <tr>
    <td>Photos</td>
    <td><label for="photos"></label>
      <input type="file" name="photos" id="photos" /></td>
  </tr>
  <tr>
    <td colspan="2" align="center">
      <input type="submit" name="btn" id="update" value="Update" /></td>
    </tr>
</table>
</form>
{% endblock %}