{% extends "Admin/adm_temp.html"%}
{% block body %}
<body>
<form action="" method="post">
   <table class="table table-bordered" border="1">
  <tr>
    <th>Sl. No</th>
    <th>Image</th>
      <th >Name</th>
    <th >Place</th>
      <th>post</th>
      <th>pincode</th>
      <th>District</th>
    <th>Email</th>
    <th>Phone</th>
    <td colspan="2">&nbsp;</td>
  </tr>
  {% for i in data %}
  <tr>
  <td>{{ loop.index }}</td>
    <td><img src="{{ i[8] }}" height="100px" width="100px"></td>
    <td>{{ i[1] }}</td>
    <td>{{ i[2] }}</td>
    <td>{{ i[3] }}</td>
    <td>{{ i[4] }}</td>
    <td>{{ i[5] }}</td>
    <td>{{ i[6] }}</td>
    <td>{{ i[7] }}</td>
    <td><a href="/adm_police_stn_edit/{{ i[0] }}"><input type="button" value="Edit" class="btn-info"></a></td>
    <td><a href="/adm_police_stn_dlt/{{ i[0] }}"  onclick="return confirm('Do you want to delete?')"><input type="button" value="Delete" class="btn-danger"></a></td>
    </tr>
    {% endfor %}
    </table>
</form>

</body>

{% endblock %}