{% extends "Admin/adm_temp.html"%}
{% block body %}


<body>
<form action="/tng_st_add" method="POST" enctype="multipart/form-data">
    <table class="table table-bordered" border="1">
  <tr>
    <td >Name</td>
    <td >
      <input type="text" name="name" id="name" required/></td>
  </tr>
    <tr>
        <td>Details</td>
        <td><textarea name="txt_det" required></textarea></td>
    </tr>
  <tr>
    <td>Image</td>
    <td><label for="image"></label>
      <input type="file" name="image" id="image" required/></td>
  </tr>
  <tr>
    <td colspan="2" align="center"><input type="submit" name="save" id="save" value="Save" /></td>
  </tr>
</table>
</form>
</body>


{% endblock %}