
{% extends "Admin/adm_temp.html"%}
{% block body %}

<body><form action="" method="get">
    <table class="table table-bordered" border="1">
  <tr>
    <th>Sl. No</td>
     <th>Image</th>
    <th>Name</th>
      <th>Description</th>
    <td colspan="2">&nbsp;</td>
  </tr>
      {% for i in data %}
  <tr>
    <td>{{ loop.index }}</td>
    <td><img src ="{{ i[3]}}" height="100px" width="100px" ></td>
    <td>{{ i[1] }}</td>
      <td>{{ i[2] }}</td>
    <td><a href="/adm_tng_st_edt/{{ i[0] }}">Edit</a></td>
     <td><a href="/adm_tng_st_dlt/{{ i[0] }}"  onclick="return confirm('Do you want to delete?')">Delete</a></td>
  </tr>
    {% endfor %}
</table>
</form>
</body>

{% endblock %}