{% extends "Admin/adm_temp.html"%}
{% block body %}


<body>
<form action="/adm_tng_st_btn" method="POST" enctype="multipart/form-data">
    <table class="table table-bordered" border="1">
  <tr>
    <th>Name</th>
    <td><label for="name"></label>
      <input type="text" name="name" id="name" value="{{data[1]}}" required/></td>
  </tr>
    <tr>
        <th>Details</th>
        <td><textarea name="txt_det" required>{{ data[2] }}</textarea></td>
    </tr>
  <tr>
    <th>Image</th>
    <td><label for="image"></label>
      <input type="file" name="image" id="image" /></td>
  </tr>
  <tr>
    <td colspan="2" align="center"><input type="submit" name="save" id="save" value="Save" /></td>
  </tr>
  <input name="mhh" type="hidden" value="{{data[0]}}">
</table>
</form>
</body>


{% endblock %}