{% extends "Admin/adm_temp.html"%}
{% block body %}

<form id="form1" name="form1" method="post" action="">
</form>
<table class="table table-bordered">
  <tr>
    <th>Slno</th>
    <th>subject</th>
    <th>notification</th>
    <th>date</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
    {% for i in data %}
  <tr>
    <td>{{ loop.index }}</td>
    <td>{{ i[2] }}</td>
    <td>{{ i[3] }}</td>
    <td>{{ i[1] }}</td>
    <td><a href="/editnotification/{{ i[0] }}" class="btn btn-success" >edit</a></td>
    <td><a href="/deletenotification/{{ i[0] }}" class="btn btn-danger">delete</a></td>
  </tr>
    {% endfor %}
</table>
{% endblock %}